.navbar {
    background-color: #4aaaa5
}


.navbar-brand {
    color: #ffffff;
    font-size: 20pt;
}

.navbar-nav {
  letter-spacing: 2px;
}

h3 {
    color: #4aaaa5;
}

.container {
    padding-top: 30px;
    padding-bottom: 250px;
}

a {
    color: gray;
    
}z

.bd-footer {
    position: fixed;
    height: 50px;
    background-color: red;
    margin-bottom: 0px;
    bottom: 0px;
}
hr {
    width: 100%;
    color: #666666;
    padding-bottom: 15px;
}

.form-group {
    padding-bottom: 10px;
}

.container-fluid {
    text-align: center;
    font-size: 10pt;
}


@media screen and (max-width: 960px) {
    body {
      background-color: blue;
    }
}

@media screen and (max-width: 960px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  [class*="col-"] {
    width: 100%;
  }