html {
    height: 100%;
}

.navbar {
    background-color: #8caba8;
}


.navbar-brand {
    color: #ffffff;
    font-size: 20pt;
}

.navbar-nav {
  letter-spacing: 2px;
}

h3 {
    color: #607078;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
    background-color: #d3d3d3
}

.row {
    background-color: #ffffff
}
    
.container {
    padding-top: 30px;
    padding-bottom: 250px;
    
    
}

a {
    color: #ffffff;
}

p {
    color: #777777;
}

.card {
    color:#607078;
}
hr {
    width: 100%;
    color: #666666;
    padding-bottom: 15px;
}

.container-fluid {
    font-size: 10pt;

}

footer {
    text-align: center;
    background-color: #475860;
    
}


@media screen and (max-width: 960px) {
    body {
      background-color: blue;
    }
}

@media screen and (max-width: 960px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  [class*="col-"] {
    width: 100%;
  }